@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --font-base: "Montserrat", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
    --c-metalic-green: #3B7B02;
    --c-kelly-green: #65A603;
    --c-olivine: #9BBF65;
    --c-sherwood-green: #014034;
    --c-soft-green: #73BF8E;
    --c-black: #252525;
    --c-white: #F5F7F2;
    --f-medium: 500;
    --f-regular: 400;
    --f-bold: 700;
}

*{
    margin:0;
    padding:0;
}

body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-black);
    background-image: url(../images/bodybg.png);
    background-size: cover;
}

.box-shadow {
    box-shadow: 0px 15px 25px rgba(0,0,0,0.3);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: var(--f-medium);
}

a {
    transition: var(--transition);
    text-decoration: none;
}

img {
    max-width: 100%;
}

.round-box {
    border-radius: 20px;
    width: 100%;
    height: 50vh;
}

.footer-color {
    background-color: var(--c-sherwood-green);
}

.light-green-box {
    background-color: var(--c-kelly-green);
}
.round-corners {
    border-radius: 20px;
}
.green-box {
    background-color: var(--c-metalic-green);
}

.white-box {
    background-color: var(--c-white);
}
.round-box-container {
    width: 90%;
    margin: auto;
}
.round-box-p {
    font-size: var(--f-regular);
    padding-bottom: 10px;

} 

.round-box-title {
    margin-bottom: 20px;
    font-size: 2em;
}

.white-text {
    color: var(--c-white);
}

.black-text {
    color: var(--c-black);
}
.green-text {
    color: var(--c-metalic-green);
}

.button {
    color: var(--c-white);
    font-weight: var(--f-bold);
    padding: 10px 15px;
    border-radius: 20px;
}

.green-button {
    background-color: var(--c-kelly-green);
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.round-news {
    border-radius: 20px;
    width: 100%;
    height: 35vh;
}

/*--------------------------------------  NAVBAR --------------------------*/

.circlebutton {
    border-radius: 50%;
    background-color: var(--c-metalic-green);
    padding: 10px;
    margin: auto;
}

.nav-button {
    background-color: var(--c-metalic-green);
    color: var(--c-white);
    font-weight: var(--f-medium);
    padding: 5px 5px;
    border-radius: 20px;
    margin-right: 5px;
}

.nav-button:hover {
    background-color: var(--c-kelly-green);
    color: var(--c-white);
}


#lowerpartbrand {
    display: none;
}

#searchbarcontainer {
    padding: 10px 0px;
    border-bottom: 2px solid var(--c-black);
    width: 95%;
}

#logincontainer {
    margin: auto;
    padding: 0 20px 0 40px;
}

.logoaaco {
    height:60px;
    padding-left: 50px;
    padding-right: 20px;
}

.logounal {
    height:70px;
}

#divisor {
    height:70px;
    width:1px;
    border-left: 2px solid var(--c-black);
    padding-right: 15px;
}

#navbarcontainer {
    width: 90%;
}

#navbar {
    background-color: transparent;
}

.navbaritem{
    background-color: var(--c-metalic-green);
    margin: auto;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 10px;
    
}

.activenavbar {
    background-color: var(--c-kelly-green);
}
.navbaritem:hover {
    background-color: var(--c-kelly-green);
}
.navbaritem p {
    color: var(--c-white);
    font-weight: var(--f-medium);
    font-size: 16px;
}


/*--------------------------------------  HERO --------------------------*/


.btn-apply {
    color: var(--c-white);
    font-weight: var(--f-bold);
    padding: 10px 48px;
    border-radius: 20px;
}

.btn-apply:hover {
    background-color: var(--c-metalic-green);
}

#btn-apply-container {
    padding-top: 40px;
}

#hero {
    height: 75vh;
}

#lookfurther{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: var(--c-kelly-green);
    font-weight: var(--f-bold);
}

#lookfurther-btn:hover {
    color: var(--c-metalic-green);
}
#lookfurther-btn {
    color: var(--c-kelly-green);
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--c-kelly-green);
    margin: auto;
}

.arrow-down:hover {
    border-top: 20px solid var(--c-metalic-green);
}



/*--------------------------------------  ABOUT --------------------------*/
#aboutcontainer {
    background-color: var(--c-metalic-green);
}

#gallerycontainer {
    background-color: var(--c-white);
}


/*------------------------------------- NEWS ------------------------------*/
#newsbutton {
    position: absolute;
    top: 0%;
    right: 0%;
}

.bottom-news {
    margin-top: 15px;
}

/*------------------------------------- FOUNDER ------------------------------*/

#founderphoto {
    border-radius: 50%;
    padding: 10px;
    width: 250px;
    height: 250px;
}

#founderinfo {
    padding: 20px;
    margin-top: 10px;
}

#foundername {
    font-weight: var(--f-bold); 
}

#foundertitle {
    font-size: 1.3em;
}
/*------------------------------------- PUBLICATIONS ------------------------------*/

.publication-title {

}

.publication-number {
    font-size: 3.5em;
    font-weight: var(--f-bold);
    text-align: right;
}

.publication-title {
    font-weight: var(--f-medium);
    text-align: left;
}

/*------------------------------------- BENEFITS ------------------------------*/

#benefitscontainer {
    background-image: url(../images/benefits.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

#benefitstitle {
    font-weight: var(--f-bold);
}

/*--------------------------------------  RESPONSIVE --------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    #herotitle {
        text-align: center;
    }

    .nav-button {
        font-size: 14px;
    }

    .round-box {
        height: 60vh;
    }

    #btn-apply-container {
        padding-top: 0px;
    }

    #founderphoto {
        width: 200px;
        height: 200px;
    }
    
}


@media only screen and (max-width: 992px){

    .bottom-news {
        margin-top: 0px;
    }

    .publication-image {
        width: 50%;
        margin-top: 10px;
    }
    
    #navbar {
        background-color: rgb(245, 247, 242);
    }

    .nav-button {
        background-color: transparent;
        color: var(--c-black);
        border-radius: 0;
    }

    .nav-button:hover {
        background-color: var(--c-kelly-green);
        color: var(--c-white);
    }
    #hero {
        height: 85vh;
    }
    #about {
        height: 105vh;
    }

    #lookfurther{
        bottom: 0%;
    }

    #searchbar {
        display: none;
    }

    #navbarcontainer {
        padding: 10px 0px;
        border-bottom: 2px solid var(--c-black);
    }
    #lowerpartbrand {
        display: inherit;
    }

    .logoaaco {
        padding-left: 0px;
    }

    .navbaritem{
        background-color: transparent;
        margin: inherit;
        border-radius: 0px;
        box-sizing: content-box;
        padding: 0 0px;
        
    }
    
    .navbaritem p {
        color: var(--c-black);
        font-weight: var(--f-medium);
        margin-bottom: 0;
    }

    #herotitle {
        text-align: center;
    }

    .round-box {
        border-radius: 20px;
        width: 100%;
        height: 40vh;
    }

    .green-box {
        margin-bottom: 20px;
    }

    #newsbutton {
        transform: translate(-50%,-50%);
        top: 0%;
        left: 50%;
        margin-top: 40px;
        text-align: center;
    }

    .round-news {
        margin-top: 10px;
    }

    #founderphoto {
        width: 200px;
        height: 200px;
    }

    #foundertitle {
        width: 90%;
        font-size: 1.2em;
    }
}



@media only screen and (max-width: 430px){
    .logoaaco {
        height:40px;
        padding-left: 0px;
        padding-right: 20px;
    }
    
    .logounal {
        height:50px;
    }
    
    #divisor {
        height:40px;
    }

    .round-box-title {
        font-size: 1.2em;
    }
    
    .round-box-p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 375px){
    .round-box-title {
        font-size: 1em;
    }
    
    .round-box-p {
        font-size: 0.6em;
    }
}

